/* .splide__slide img {
    width: 200px;
    height: auto;
  } */
  
/* .product-container{
    z-index: -1;
    transition: 1s;
} */
.slick-prev,
.slick-next {
    display: none !important;
}
/* .product-slider-container {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
} */

.custom-arrow.prev {
  left: 10px;
}

.custom-arrow.next {
  right: 10px;
}
